:root {
    --color1: #151515;
    --color2: #3C415C;
    --color3: #B4A5A5;
    --color4: #000;
    --color5: #585374;
    --color6: #301B3F;
    --color7: #836A94;
    --color8: #7D7483;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fantasy';
    
}

.header{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 50;
}

.header img {
    width: 250px;
    height: 250px;
    padding: 10px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(140deg, #B4A5A5, #301b3f);
    margin: 0;
}


.container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    position: relative;

    opacity: 0.8;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    
    text-align: center;
}

.container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    
}

.content form .user-details{
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 20px;
    width: 100%;
}

form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

  
form .button{
     height: 45px;
     margin: 35px 0
}



form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(135deg,#B4A5A5, #301b3f);
}

form .button a{
    display: block;
    text-align: center;
    padding: 10px;
   

    height: 100%;
    width: 100%;

    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(135deg,#B4A5A5, #301b3f);
    text-decoration: none;
}

